<!DOCTYPE html>
<html>
  <head>
    <title>Drops Webhook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="css/index.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="app">
      <div class="leftpane">
        <div class="left-header">
          <textarea class="query-form" v-model.lazy="query"></textarea>
          <input class="webhook-url" v-model="webhookUrl">

          <div>
            <button v-on:click="save">save</button>
            <button v-on:click="test">test</button>
          </div>
        </div>
      </div>

      <div class="rightpane">
        <div v-if="logs.length > 0">
          <div class="detail" v-for="log in logs">
            <table>
              <tr><td>クロール日時</td><td>{{log.date}}</td></tr>
              <tr><td>最新データ日時</td><td>{{log.latestDataDate}}</td></tr>
              <tr><td>更新件数</td><td>{{log.updated}}件</td></tr>
            </table>
          </div>
        </div>
        <div v-else>
          クロール履歴なし
        </div>
      </div>
 
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="dist/webhook.bundle.js"></script>
  </body>
</html>
